#sony{
    background-color: #000000;
}

#nav-fixed{
    height: 100px;
    border: solid black;
}



.my-size{
    max-width: 100px;
}
.my-color-fluid{
    background-color: cornflowerblue;
    border: solid black;
    height: 200px;

}

.my-breake-circle{
    background-color: aquamarine;
    height: 50px;
    border: dotted white;
}

.my-card{
    height: 100px;
    background-color: burlywood;
}

.my-chance{
    height: 150px;
    background-color: blue;
}

.my-console{
    height: 220px;
    background-color:blueviolet;
}

.my-object{
    height: 90px;
    background-color:lime;
}

